body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Couleur de fond pour les sections non couvertes par l'image */
}

.top-bar {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.title {
  color: #333;
  margin: 0;
}

.description {
  color: #666;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.world-map {
  background-image: url('projections.jpg'); /* Chemin vers votre image de fond */
  background-size: contain; /* Ajuste la taille de l'image pour qu'elle soit contenue dans la div */
  background-position: center; /* Centre l'image de fond horizontalement */
  background-repeat: no-repeat; /* Ne pas répéter l'image de fond */
  height: 700px; /* Hauteur de la section de la carte du monde */
}

.instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent pour les instructions */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.instructions h2 {
  color: #333;
}

.instructions p {
  color: #666;
}
